body{
    background-color:#2c2c2c;
    color:#bceb3c;
}
.container{
    margin-top:45px;
    width:max-content;
    background: rgba(188, 245, 197, 0.2)
}
h3{
    margin-top:-100px;
    text-align: center;
}
.logo{
    margin-left: 400px;
    margin-top: -10px;
}
.in1{
    width:400px;
}
.in2{
    width:1000px;
}
.in3{
    width:1050px;
    height:120px;
}
.in4{
    width:1050px;
    height:70px;
}
.in5{
    width:1050px;
    height:40px;
}
.in6,.in7{
    width:1050px;
}
#pro{
    padding-top: 20px;
    padding-bottom: 20px;
}
.bt{
    margin-left:480px;
    width:120px;
    font-weight: bold;
} 