@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
img { max-width: 100%; height: auto; }
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
.nav{
    height:100px;
    background: rgba(147, 131, 207, 0.2);
    
}
.brname{
    color:#ff3e6d;
   margin-top:30px;
   margin-left: -60px;
}
.nav a:hover{
    text-decoration: none;
}

.nav h4{
    
    color:#ff3e6d;
}
body{
    background-color:#2c2c2c;
}
.container{
  
   width: max-content;
   color:#f5587b;
   
}
.leader{
    padding: 20px;
   background: rgba(181, 187, 181, 0.2)
}
h4{
    margin-top: -70px;
    margin-bottom: 80px;
    text-align: center;
    color:#e41749;
}
h5{
    color:#e41749;
}
.t1{
    width:250px;
}
.in1,.in2{
    width:250px;
}
select{
    width:220px;
}
.in3,.in8{
    width:400px;
}
.in4{
    width:300px;
}
.in5{
   width:400px; 
}
.in6,.in7{
    width:160px;
}
.in9{
    width:370px;
}
.bt{
    width:150px;
    background-color:#f68787;
    margin-left:350px;
}
.logo{
    margin-right:800px;
   margin-top:-23px;
}
.mem1{
    margin-left:20px;
}
.bt1{
   margin-left: 700px;
   margin-top:30px;
}