
<h1>Book Issue</h1>
{% csrf_token %}
<form method='POST' >
{% csrf_token %}
Team Name:
<br />
<input type="text" name="teamname">
<br />
First Name:
<br />
<input type="text" name="firstname">
<br />
Last Name:
<br />
<input type="text" name="lastname">
<br />
Gender Name:
<br />
<input type="text" name="gender">
<br />
Email Id:
<br />
<input type="text" name="email">
<br />
<br />
Contact:
<br />
<input type="text" name="contact">
<br />
College:
<br />
<input type="text" name="college">
<br />
<br />
Year of study:
<br />
<input type="text" name="yearofstudy">
<br />
<br />
Branch:
<br />
<input type="text" name="branch">
<br />
<br />
Github:
<br />
<input type="url" name="github">
<br />
<br />
LinkedIn:
<br />
<input type="url" name="linkedin">
<br />
<br />
Travel:
<br />
<input type="text" name="travel">
<br />
<br />
<input class='btn btn-primary' type='submit' value='Issue' />
</form>
