{% extends 'hackinfo2/basic.html' %}
{% block title %} register {% endblock %}
{% load static %}
{% block body %}

<form>
<input class='btn btn-primary' type='submit' value='Already Registered' formaction="{% url 'userdashboard' %}"/>
</form>

<h4>Step 1: Register your team</h4>
<div class="container">
 <div id="formdiv">
     <form method='POST' id="register" formaction= "{% url 'register1' %}">
       {% csrf_token %}
         <div class="team">
             <div class="row">
                 <div class="col-md-auto">
                    <label for="tn">Team Name:</label><br>
                    <input class="t1" type="text" id="tn" name="teamname" action="" method="post">
                 </div>
            </div>
         </div>
         <div class="leader">
             <br>
        <h4>Team Leader details:</h4>
            <div class="row">
            <div class="col-md-auto">
                <label for="fn">First Name:</label><br>
                <input class="in1" type="text" id="fn" name="firstname1" action="" method="post">
            </div>
            <div class="col-md-auto">
                <label for="ln">Last Name:</label><br>
                <input class="in2" type="text" id="ln" name="lastname1" action="" method="post">
            </div>
            <div class="col-md-auto">
                <label for="gn">I identify my gender as:</label><br>

                <select name="gender1" id="gn">
                 <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="prefer">Prefer not to disclose</option>

                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <label for="ea">Email Address:</label><br>
                <input class="in3" type="email" id="ea" name="email1" action="" method="post"><br>
            </div>
            <div class="col-md-auto">
                <label for="pn">Contact No:</label><br>
                <input class="in4" type="phone" id="pn" name="contact1" action="" method="post"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <label for="co">College:</label><br>
                <input class="in5" type="text" id="co" name="college1" action="" method="post"><br>
            </div>
            <div class="col-md-auto">
                <label for="yr">Year of study:</label><br>
                <input class="in6" type="text" id="yr" name="yearofstudy1" action="" method="post"><br>
            </div>
            <div class="col-md-auto">
                <label for="bc">Branch:</label><br>
                <input class="in7" type="text" id="bc" name="branch1" action="" method="post"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">
                <label for="gh">Github Profile(Link)</label><br>
                <input class="in8" type="url" id="gh" name="github1" action="" method="post"><br>
            </div>
            <div class="col-md-auto">
                <label for="ld">LinkedIn Profile(Link)</label><br>
                <input class="in9" type="url" id="ld" name="linkedin1" action="" method="post"><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto">

               <input type="checkbox" name="tr" value="TR">
               <label for="tr">Want travel reimbursement?</label><br>
           </div>

        </div>

        </div>




             <br>
             <input type="submit" value="Continue" class="bt" formaction= "{% url 'register1' %}" >




     </form>

 </div>
</div>



{% endblock %}

{% block css %}
.navbar {
  background-color: DarkSlateGray;
}

body{
    background-color:#2c2c2c;
}
.container{

   width: max-content;
   color:#f5587b;

}
.leader{
    padding: 20px;
   background: rgba(181, 187, 181, 0.2)
}
h4{
    margin-top: -80px;
    margin-bottom: 80px;
    text-align: center;
    color:#e41749;
}
h5{
    color:#e41749;
}
.t1{
    width:250px;
}
.in1,.in2{
    width:250px;
}
select{
    width:220px;
}
.in3,.in8{
    width:400px;
}
.in4{
    width:300px;
}
.in5{
   width:400px;
}
.in6,.in7{
    width:160px;
}
.in9{
    width:370px;
}
.bt{
    width:150px;
    background-color:#f68787;
    margin-left:350px;
}
.logo{
    margin-left:450px;
}
.mem1{
    margin-left:20px;
}
{% endblock %}
