<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>teamdetails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="register.css" rel="stylesheet">
  </head>
  <body>
    <img class="logo" src="{% static 'Copy of Hackofhack.png' %}" width="150px" height="150px">
    <h4>Step 1: Register your team</h4>
 <div class="container">
     <div id="formdiv">
         <form id="register">
             <div class="team">
                 <div class="row">
                     <div class="col-md-auto">
                        <label for="tn">Team Name:</label>
                        <label for="tn">ABC</label><br>
                     </div>
                </div>
             </div>
             <br>
             <div class="leader">

            <h5>Team Leader details:</h4>
                <div class="row">
                <div class="col-md-auto">
                    <label for="fn">First Name:</label>
                    <label for="fn">DEF</label><br>

                </div>
                <div class="col-md-auto">
                    <label for="ln">Last Name:</label>
                    <label for="ln">XYZ</label><br>

                </div>
                <div class="col-md-auto">
                    <label for="gn">Gender:</label>
                    <label for="gn">M/F/Not Given</label><br>

                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="ea">Email Address:</label>
                    <label for="ea">XYZ</label><br>
                <div class="col-md-auto">
                    <label for="pn">Contact No:</label>
                    <label for="pn">9876543210</label><br>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="co">College:</label>
                    <label for="co">DFDHGS</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="yr">Year of study:</label>
                    <label for="yr">3</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="bc">Branch:</label>
                    <label for="bc">ADS</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="gh">Github Profile(Link)</label>
                    <label for="gh">Link</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ld">LinkedIn Profile(Link)</label>
                    <label for="ld">Link</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                   <label for="tr">Want travel reimbursement for your team?</label>
                   <label for="tr">Y/N</label><br>
               </div>

            </div>
          </div></div>
<div class="mem1">
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                <h4>Details of Team Members</h4>
                <h6>Team Member 1:</h6>
                <div class="row">
                <div class="col-md-auto">
                    <label for="fn">First Name:</label>
                    <label for="fn">ABC</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ln">Last Name:</label>
                    <label for="ln">XYZ</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="gn">Gender:</label>
                    <label for="gn">F/M/Not Given</label><br>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="ea">Email Address:</label>
                    <label for="ea">pqr</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="pn">Contact No:</label>
                    <label for="pn">9876543210</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="co">College:</label>
                    <label for="co">adsd</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="yr">Year of study:</label>
                    <label for="yr">632</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="bc">Branch:</label>
                    <label for="bc">CSE</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="gh">Github Profile(Link)</label>
                    <label for="gh">cvsjf</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ld">LinkedIn Profile(Link)</label>
                    <label for="ld">grsf</label><br>
                </div>
            </div>
            <div class="mem2">
                 <br>
                 <br>
                <h6>Team Member 2:</h6>
                <div class="row">
                <div class="col-md-auto">
                    <label for="fn">First Name:</label>
                    <label for="fn">ABC</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ln">Last Name:</label>
                    <label for="ln">XYZ</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="gn">Gender:</label>
                    <label for="gn">F/M/Not Given</label><br>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="ea">Email Address:</label>
                    <label for="ea">pqr</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="pn">Contact No:</label>
                    <label for="pn">9876543210</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="co">College:</label>
                    <label for="co">adsd</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="yr">Year of study:</label>
                    <label for="yr">632</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="bc">Branch:</label>
                    <label for="bc">CSE</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="gh">Github Profile(Link)</label>
                    <label for="gh">cvsjf</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ld">LinkedIn Profile(Link)</label>
                    <label for="ld">grsf</label><br>
                </div>
            </div>
            <div class="mem3">
                 <br>
                 <br>
                <h6>Team Member 3:</h6>
                <div class="row">
                <div class="col-md-auto">
                    <label for="fn">First Name:</label>
                    <label for="fn">ABC</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ln">Last Name:</label>
                    <label for="ln">XYZ</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="gn">Gender:</label>
                    <label for="gn">F/M/Not Given</label><br>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="ea">Email Address:</label>
                    <label for="ea">pqr</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="pn">Contact No:</label>
                    <label for="pn">9876543210</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="co">College:</label>
                    <label for="co">adsd</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="yr">Year of study:</label>
                    <label for="yr">632</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="bc">Branch:</label>
                    <label for="bc">CSE</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="gh">Github Profile(Link)</label>
                    <label for="gh">cvsjf</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ld">LinkedIn Profile(Link)</label>
                    <label for="ld">grsf</label><br>
                </div>
            </div>
            <div class="mem4">
                 <br>
                 <br>
                <h6>Team Member 4:</h6>
                <div class="row">
                <div class="col-md-auto">
                    <label for="fn">First Name:</label>
                    <label for="fn">ABC</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ln">Last Name:</label>
                    <label for="ln">XYZ</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="gn">Gender:</label>
                    <label for="gn">F/M/Not Given</label><br>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="ea">Email Address:</label>
                    <label for="ea">pqr</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="pn">Contact No:</label>
                    <label for="pn">9876543210</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="co">College:</label>
                    <label for="co">adsd</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="yr">Year of study:</label>
                    <label for="yr">632</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="bc">Branch:</label>
                    <label for="bc">CSE</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="gh">Github Profile(Link)</label>
                    <label for="gh">cvsjf</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ld">LinkedIn Profile(Link)</label>
                    <label for="ld">grsf</label><br>
                </div>
            </div>
            <div class="mem5">
                 <br>
                 <br>
                <h6>Team Member 5:</h6>
                <div class="row">
                <div class="col-md-auto">
                    <label for="fn">First Name:</label>
                    <label for="fn">ABC</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ln">Last Name:</label>
                    <label for="ln">XYZ</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="gn">Gender:</label>
                    <label for="gn">F/M/Not Given</label><br>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="ea">Email Address:</label>
                    <label for="ea">pqr</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="pn">Contact No:</label>
                    <label for="pn">9876543210</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="co">College:</label>
                    <label for="co">adsd</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="yr">Year of study:</label>
                    <label for="yr">632</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="bc">Branch:</label>
                    <label for="bc">CSE</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <label for="gh">Github Profile(Link)</label>
                    <label for="gh">cvsjf</label><br>
                </div>
                <div class="col-md-auto">
                    <label for="ld">LinkedIn Profile(Link)</label>
                    <label for="ld">grsf</label><br>
                </div>
            </div>
          </div>
<br>

         <input type="submit" value="EDIT" class="bt">
         </form>

     </div>
 </div>
  </body>
</html>
